
<p><strong><%= notification.sender.full_name %></strong> has reassigned your task to <strong><%= notification.third.full_name %></strong>
<hr>
<p>
  <strong><%= notification.task.request_type.name %></strong> work for <strong><%= notification.task.client.name %></strong> due <strong><%= better_date2(notification.task.required_date) %></strong>
</p>

<p><strong>Status: </strong> <%= notification.task.status.name %> </p>
