<div class="text-center">
  <h3><%= @target_client.name %></h3>
  <p>Target Client of: <%= @client.name %></p>
  <br>
  <div class="options-container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <%= link_to 'ADD ADDRESS', new_client_target_client_address_url(@client, @target_client), class: 'option-button black-text bg-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ADD CONTACT PERSON', new_client_target_client_contact_person_url(@client, @target_client), class: 'option-button black-text bg-white' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 v-padding large">
      <h4 class="text-left">Addresses</h4>
      <div class="row">
        <%= render partial: 'address', collection: @addresses, as: 'address' %>
      </div>
    </div>
    <div class="col-md-3 v-padding large">
      <h4 class="text-left">Contact Persons</h4>
      <div class="row">
        <%= render partial: 'contact_person', collection: @contact_persons, as: 'contact_person' %>
      </div>
    </div>
  </div>
</div>
