<div class="col-12">
  <div class="job-container small-font">
    <div class="col-12 v-padding job-first" id="job_first_<%= job.id%>">
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="row">
            <div class="col">
              <p><strong>Required Date:</strong> <%= better_date2(job.required_date) %></p>
            </div>
            <div class="col-6 col-md-3">
              <p><strong>Request Type: </strong><%= job.request_type.name %></p>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-12 col-md-3">

          <p><strong>Requestor:</strong> <%= job.user.full_name %></p>
          <p><strong>Number: </strong> <%= job.user.contact_number %></p>
          <p><strong>Client:</strong> <%= link_to job.client.name, client_url(job.client) %></p>

        </div>
        <div class="col-12 col-md-3">
          <p><strong>Target Client: </strong> <%= link_to job.target_client.name, client_target_client_url(job.client, job.target_client) %> </p>
          <p><strong>Contact:</strong> <%= job.contact_person.full_name %></p>
          <p><strong>Number: </strong> <%= job.contact_person.contact_number %></p>
        </div>
        <div class="col-12 col-md-3">
          <p><strong>Resource: </strong></p>
          <p><%= job.resource.full_name %></p>
          <p><%= job.resource.contact_number %></p>
        </div>
        <div class="col-12 col-md-3 text-center">
          <p><strong>Status:</strong></p>
          <div class="d-flex flex-row justify-content-center">

            <div class="medium-index bg-<%= status(job.status.name) %>"><%= job.status.name.upcase %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 small-font job-second d-none" id="job_second_<%= job.id %>">
        <div class="space"></div>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="job-second-option">
            <p><strong>Address: </strong><%= job.address.complete %></p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="job-second-option">
            <p><strong>Request Description: </strong> <br> <%= job.request_description %></p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="job-second-option">
            <p><strong>Notes to Resource: </strong> <br> <%= job.notes_to_resource %></p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="job-second-option">
            <p><strong>Resource Notes: </strong> <br> <%= job.resource_notes%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <hr>
      <div class="d-flex justify-content-between">
        <%# if action_name == 'your_jobs' %>
          <div class="p-2">
            <%= link_to "Edit", edit_job_url(job), class:'btn btn-primary btn-sm white-font' if current_user == job.user %>
            <%= link_to "Add / Edit Resource Notes", job_resource_notes_url(job), class:'btn btn-primary btn-sm white-font' if current_user == job.resource %>
            <%= render 'change_status', job: job if current_user == job.user %>
          </div>
        <%# end %>
        <div class="p-2">
          <p><strong>Date Requested: </strong><%= better_date2(job.created_at) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
