<div class="col-lg-12 col-md-12">
  <div class="row h-padding v-padding large">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="p-2">
          <h3>My Tasks</h3>
        </div>
        <div class="p-2">
          <%= link_to 'Pass All Tasks', pass_all_tasks_tasks_url, class: 'btn btn-warning' %>
          <%= link_to '1 week', your_tasks_url(start_date: Time.zone.today, end_date: Time.zone.today + 7.days), class: 'btn btn-primary text-white' %>
          <%= link_to '2 weeks', your_tasks_url(start_date: Time.zone.today, end_date: Time.zone.today + 14.days), class: 'btn btn-primary text-white' %>
          <%= link_to '1 month', your_tasks_url(start_date: Time.zone.today, end_date: Time.zone.today + 1.month), class: 'btn btn-primary text-white' %>
          <%= link_to 'Print PDF', print_tasks_url(start_date: params[:start_date], end_date: params[:end_date], format: :pdf), class: 'btn btn-success text-white' %>
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="p-2">
          <%= render 'search_form' %>
        </div>
      </div>
      <p><%= has_tasks?(@tasks) %></p>
    </div>
  </div>
  <%= render partial: 'task', collection: @tasks, as: 'task' %>
  <hr>
  <div class="d-flex justify-content-center">
    <div class="p-2 text-center">
      <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
      <%= page_entries_info @tasks %>
    </div>
  </div>
</div>
