<tr>
  <td>
    <%= location %>
  </td>
  <td class='text-center'>
    <%= by_city_town(location) %>
  </td>
  <td class='text-center'>
    <%= by_city_town_complete(location) %>
  </td>
  <td class='text-center'>
    <%= by_city_town_with_issues(location) %>
  </td>
  <td class='text-center'>
    <%= by_city_town_scheduled(location) %>
  </td>
  <td class='text-center'>
    <%= by_city_town_open(location) %>
  </td>
</tr>
