<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <%= link_to 'Tracker', root_url, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_url, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Tasks', your_tasks_url, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'My Requests', your_requests_url, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Reports', location_report_url, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class='navbar-text'>
        <div href="#" class: 'nav-link text-white'>
          <%= current_user.full_name %>
        </a>
      </li>
      <li class='nav-item'>
        <%= link_to 'NOTIFICATIONS', notifications_index_url, class: 'navbar-button bg-primary text-white' %>
      </li>
      <li>
        <%= link_to 'SIGN OUT', destroy_user_session_path, class: 'navbar-button' %>
      </li>
    </ul>
  </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
