<!DOCTYPE html>
<html>
  <head>
    <title>Messengerial3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' if user_signed_in? %>
    <%= render 'layouts/form_layout' if in_form? %>
    <%= render 'layouts/show_layout' if in_show? %>
    <%= yield if controller_name == 'pages'%>
  </body>
</html>
